
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
{% else %}
    <a href="{% url 'login' %}" id="loginButton" class="btn btn-primary">Login</a>
{% endif %}

{% if latest_question_list %}
 {% comment %} <a href="{%  url 'logout' %}" class="btn btn-primary">Logout</a> {% endcomment %}
   <ul>
       {%  for question in latest_question_list %}
            <li> <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} </a></li>
       {% endfor %}
   </ul>

   {% else %}
       <p>No polls available.</p>
       
   {% endif %}

   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   <script>
    $(document).ready(function() {
        // Automatically trigger a click on the login button
        $("#loginButton").click();
    });
    </script>